<div class="page">
  <div class="page-content">
    <div class="container">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="buscar"
            [ngModelOptions]="{standalone: true}">
        </div>
      </form>
      <br>
      <div class="row">
        <div class="card is-text-center col-6 col-4-md col-4-lg" *ngFor="let item of beers$ | async | search: searchText | filter: selectedFilter">
          <header>
            <h4><a routerLink="/beers/{{ item.id }}">{{item.name}}</a></h4>
          </header>
          <img class="img-fluid" [src]="item.image_url" [alt]="item.name"
            style="height:250px!important; margin: 0 auto;" />
          <p>
            <span class="tag">Abv: {{item.abv}}%</span>
            <span class="tag">Ibu: {{item.ibu}}</span>
          </p>
          <footer class="is-center">
            <p> {{ item.tagline }} </p>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
