<!-- <div *ngIf="characters$ | async as character">
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Origin</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of character.results" (click)="navigateTo(item.id)">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.origin.name }}</td>
      <td>{{ item.status }}</td>
    </tr>
  </tbody>
</table>
</div> -->

<div>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Origin</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of characters$ | async" (click)="navigateTo(item.id)">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.origin.name }}</td>
        <td>{{ item.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
