<!-- <div *ngIf="characters$ | async as character">
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Origin</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of character.results" (click)="navigateTo(item.id)">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.origin.name }}</td>
      <td>{{ item.status }}</td>
    </tr>
  </tbody>
</table>
</div> -->

<div class="page">
  <div class="page-content">
    <div class="container">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="search"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </form>
      <div class="row">
        <div class="col" *ngIf="info$ | async as info">
        <p class="is-center">Characters found: {{info.count}} | Pages: {{ info.pages }}</p>
        </div>
      </div>
      <div class="row">
        <div class="card is-text-center col-6 col-4-md col-3-lg"
          *ngFor="let item of characters$ | async | searchCharacter: searchText" (click)="navigateTo(item.id)">
          <header>
            <h4><a routerLink="/character/{{ item.id }}">{{item.name}}</a></h4>
          </header>
          <img class="img-fluid" [src]="item.image" [alt]="item.name"
            style="height:250px!important; margin: 0 auto; border-radius: 5px;" />
          <p>
            <span class="tag">Status: {{item.status}}</span>
            <span class="tag">Species: {{item.species}}</span>
          </p>
          <footer class="is-center">
            <p>Origin: <span class="text-grey">{{ item.origin.name }}</span></p>
          </footer>
        </div>
      </div>
    </div>
  </div>
